.App {
  text-align: center;
}


img {
  height: 150px;
  width: 250px;
  border-radius: 5px;
}

.modal {
  border-radius: 5px;
  width: 50%;
  height: 550px;
  outline: none;
  background-color: red;
  position: absolute;
  bottom: 700px;
  right: 700px;
  width: 500px;
  border: 2px solid #f73b3b;
  background-color: seashell;
  font-family: "Mali", cursive;
  font-weight: bold;
}

 .modal-title {
    font-family: "Mali", cursive;
    font-weight: bold;
    text-align: center;
 }

.modal form {
  display: flex;
  flex-direction: column;
  width: 35%;
  margin: auto;
  
}

.modal input {
  border-radius: 5px;
  outline: none;
  height: 10%;
}

.modal button {
  margin-top: 35px;
  margin-left: 55px;
  height: 35px;
  width: 30%;
  border-radius: 5px;
  color: black;
  background-color: #fab384;
  font-family: "Mali", cursive;
  font-weight: bold;
  font-size: 1.1rem;
  cursor: pointer;
}

button {
  outline: none;
}

.container-nav {
  /* position: relative; */
  height: 85px;
  color: seashell;
  background-color: #f73b3b;
}

.nav-bar {
  display: flex;
  height: 85px;
  /* border: 2px outset #f96262; */
}

.nav-logo {
  width: 75%;
  display: flex;
  align-items: center;
}

.nav-logo a {
  font-size: 1.5em;
  font-family: "Lobster", cursive;
}

.nav-links {
  justify-content: space-around;
  align-items: center;
  display: flex;
  width: 30%;
}

a {
  text-decoration: none;
  color: white;
  font-family: "Mali", cursive;
  padding: 7px;
  font-size: 17px;
  font-weight: bold;
  cursor: pointer;
}

.registration h1 {
  font-family: "Mali", cursive;
  font-size: 40px;
}

.register-form {
  border: 2px solid #f73b3b;
  background-color: seashell;
  border-radius: 10px;
  width: 32%;
  height: 525px;
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  font-family: "Mali", cursive;
  font-weight: bold;
}

.register-form form {
  display: flex;
  flex-direction: column;
  width: 35%;
  margin: auto;
  
}

.register-form input {
  border-radius: 5px;
  outline: none;
  height: 10%;
}

.register-form button {
  margin-top: 35px;
  margin-left: 55px;
  height: 35px;
  width: 50%;
  border-radius: 5px;
  color: black;
  background-color: #fab384;
  font-family: "Mali", cursive;
  font-weight: bold;
  font-size: 1.1rem;
  cursor: pointer;
  /* box-shadow: 5px 5px 10px; */
}

.chef-collection {
  display: flex;
  justify-content: space-evenly;
}

.chef-card {  
  border: 2px solid red;
  text-align: center;
  border-radius: 10px;
  margin: 25px;
  height: 400px;
  width: 500px;
  padding-top: 50px;
  background-color: seashell;
  font-family: "Mali", cursive;
  font-weight: bold;
}

.chef-card button {
  margin: 10px;
  height: 35px;
  width: 25%;
  border-radius: 5px;
  color: black;
  background-color: #fab384;
  font-family: "Mali", cursive;
  font-weight: bold;
  font-size: 1.1rem;
  cursor: pointer;
}

.chef-page {
  display: flex;
  justify-content: center;
  flex-flow: wrap;
}

.chef-form {
  border: 2px solid #f73b3b;
  background-color: seashell;
  border-radius: 10px;
  width: 32%;
  height: 500px;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  font-family: "Mali", cursive;
  font-weight: bold;
}

.chef-form form {
  display: flex;
  flex-direction: column;
  width: 35%;
  margin: auto;
  
}

.chef-form input {
  border-radius: 5px;
  outline: none;
  height: 10%;
}

.chef-form button {
  margin-top: 35px;
  margin-left: 55px;
  height: 35px;
  width: 50%;
  border-radius: 5px;
  color: black;
  background-color: #fab384;
  font-family: "Mali", cursive;
  font-weight: bold;
  font-size: 1.1rem;
  cursor: pointer;
  /* box-shadow: 5px 5px 10px; */
}

.chef-page-title {
  font-family: "Mali", cursive;
  font-weight: bold;
  
}

.chef-page-title h2 {
  margin-top: 100px;
}

.ingredients {
  height: 500px;
}